* {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}

a.header {
    color: #f9faf8;
}

#header-logo {
    max-height: 50px;
}

.body {
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;

}

h1.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p.hero {
    font-size: 18px;
    color: #e5e7eb;
}

.header, .hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.block-2 {
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-around;
}



.block-3 {
    background-color: #f9faf8;
    padding: 5% 15%;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    font-weight: bold;
}

.block-4 {
    background-color: #3882f6;
    margin: 3% 5%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

#CTA {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 10px;
}

.hero #CTA {
    border: none;
}

.block-4 #CTA {
    border: thin solid #f9faf8;
}

.footer {
    text-align: center;
}